/* RESET EVERYTHING */
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body, html{
  height: 100vh;
  width: 100vw;
}
/* THE CONTAINER THAT WRAPS AROUND ALL */
.container{
  margin: 0 auto;
  max-width: 1280px;
}

/* LANDING PAGE */
#landing-page {
  overflow: hidden; 
  text-align: center;
}

/* HERO IMAGE */
.hero-img{
  margin-top: 10vh;
  width: 70%;
}

/* CTA BUTTON */
.cta-wrapper{
  margin: 40px 0;
  text-align: center;
}
#cta-btn {
  height: 80px;
  width: 200px;
  font-weight: bold;
  background-color: #3a4660;
  border: 2px solid #3a4660;
  color: white;
  -webkit-box-shadow: 4px 4px 0 skyblue;
          box-shadow: 4px 4px 0 skyblue;
  font-family: 'Poppins';
  text-transform: uppercase;
  font-size: 40px;
  padding: 10px;
  -webkit-transition: width .5s ease;
  -o-transition: width .5s ease;
  transition: width .5s ease;
  -webkit-transform: skewX(-15deg);
      -ms-transform: skewX(-15deg);
          transform: skewX(-15deg);
}
#cta-btn:hover .wings{
  -webkit-animation: color_anim 1s infinite;
          animation: color_anim 1s infinite;
}
#cta-btn:hover #wings{
  -webkit-animation: up_down 1s infinite;
          animation: up_down 1s infinite;
}
#cta-btn:hover {
  width: 280px;
  -webkit-box-shadow: 10px 6px 0 skyblue;
          box-shadow: 10px 6px 0 skyblue;
}
@-webkit-keyframes color_anim {
    0% {fill: #fff}
    50% {fill: #3a4660}
    100% {fill: #fff}
}
@keyframes color_anim {
    0% {fill: #fff}
    50% {fill: #3a4660}
    100% {fill: #fff}
}
@-webkit-keyframes up_down {
  0%{margin-left: 0}
  50%{margin-left: 30px}
  100%{margin-left: 0}
}
@keyframes up_down {
  0%{margin-left: 0}
  50%{margin-left: 30px}
  100%{margin-left: 0}
}

/* SIGN IN & SIGN UP CARD */
#signin-signup-page{
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}
.card {
  margin-top: 10vh;
  width: 100%;
  text-align: center;
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.card.flipped, .card .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.card .front, .card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.signin-btn, .signup-btn{
  margin: 20px auto;
}
.card.back {
  display: block;
}
.flip {
  margin-top: 25px;
}
.flip:hover {
  color: gold;
  cursor: pointer;
}

/* USER PAGE */
#inside-pages, #user-page {
  display: none;
}
#user-page {
  position: relative;
}
.main {
  padding: 0 20px;
  font-family: "Poppins", sans-serif;
}
h1 {
  padding: 10px 0;
}
#username-container {
  display: none;
  float: right;
}
.my-username{
  margin: 0 10px;
}
.footer {
  position: sticky;
}
.header, .footer {
  box-shadow: 0 2px 2px grey;
  background-color: #3a4660;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
}

/* LOG ITEMS & FORMS */
.log-item, form, .how-to-container {
  padding: 5px;
  color: #fff;
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 4px grey;
          box-shadow: 2px 2px 4px grey;
  background-color:  #3a4660;
  text-align: center;
}
input, textarea{
  border: none;
  background-color: transparent;
  outline:none;
  border-bottom: 2px dashed white;
  color: #fff;
  font-weight: bold;
}
#create-plan-view, #update-plan-view, #create-log-view, #update-log-view {
  margin-bottom: 20px;
}
.input-field {
  margin-top: 16px;
}
textarea{
  height: 30vh;
  width: 100%;
}
legend{
  font-size: 20px;
}
fieldset{
  border:#fff solid 2px;
}

/* BUTTONS */
button {
  margin: 0 16px;
  color: #fff;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #3a4660;
  -webkit-box-shadow: 1px 1px 0 #fff, 2px 2px 0 #fff;
          box-shadow: 1px 1px 0 #fff, 2px 2px 0 #fff;
  text-transform: uppercase;
  padding: 6px 8px;
}
button:hover {
  cursor: pointer;
  -webkit-transform: translateY(2px) translateX(2px);
      -ms-transform: translateY(2px) translateX(2px);
          transform: translateY(2px) translateX(2px);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-groups {
  margin: 16px auto;
}

/* NAVBAR */
#navbar{
  display: none;
}
#navbar.toggle{
  display: block;
}
#toggle-nav {
  display: none;
  padding: 0 10px;
  float: left;
}
#toggle-nav:hover{
  color: gold;
  cursor: pointer;
}
.nav-container{
  max-width: 1200px;
  margin: 0 auto;
}
ul {
  text-align: center;
  list-style-type: none;
}
ul li a {
  display: block;
  padding: 20px 0;
  background-color: #3a4660;
  text-decoration: none;
  color: #fff; 
}
ul li a:hover{
    color: #3a4660;
    background-color: #fff;
    cursor: pointer;
}


/* PLANS AND LOGS VIEWS */
#flight-plans-view {
  margin: 20px 10px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}
#flight-logs-view {
  margin: 20px 10px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
}

/* HORIZONTAL NAV BARS */
.flight-controls {
  color: #3a4660;
  font-weight: bold;
}
#searchPlan, #searchLog {
  color: #3a4660;
  border-bottom: dashed 2px #3a4660;
}
.search-plan-btn, .search-log-btn{
    margin:  10px;
    color: #3a4660;
    font-weight: bold;
    border: 2px solid #3a4660;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 0 #3a4660, 2px 2px 0 #3a4660;
            box-shadow: 1px 1px 0 #3a4660, 2px 2px 0 #3a4660;
    text-transform: uppercase;
    padding: 6px 8px;
}
#create-flight-plan:hover, #create-flight-log:hover {
  cursor: pointer;
  color: gold;
}
.search-plan-btn:hover, .search-log-btn:hover {
  cursor: pointer;
  -webkit-transform: translateY(2px) translateX(2px);
      -ms-transform: translateY(2px) translateX(2px);
          transform: translateY(2px) translateX(2px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* DISPLAY NONES */
#create-plan-view, #update-plan-view, #create-log-view, #update-log-view, #flight-logs, #how-to-page {
  display: none;
}

#how-to-page {
  height: 100%;
  z-index: 1;
}