*{
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
  width: 100vw;
}
body {
  display: grid;
  color: #062F63;
  grid-template-rows: 60px auto 40px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
.header {
  grid-area: header;
}
.main {
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  grid-area: main;
}
.footer {
  grid-area: footer;
}
.header,
.footer,
.form {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.header,
.footer,
.signin-login-page,
.landing-page {
  text-align: center;
}
legend{
  font-size: 20px;
}
.landing-page{
  margin-top: 20vh;
}
.signin-login-page{
  margin-top: 10vh;
}

/* HERE, DISPLAY THIS */
/* .landing-page{
  display: none;
} */

.signin-login-page {
  display: none;
}

.user-page {
  display: none;
}

/* HERE DISPLAY THIS*/

fieldset {
  border: none;
}
.navbar {
  position: fixed;
  left: 20px;
  height: 90%;
  transform: translateX(-180px);
  transition: transform 0.75s ease;
}
.navbar.toggle{
  transform: translateX(0);
}
.content-box {
  transform: translateX(0);
  transition: transform 0.75s ease;
}
.content-box.toggle{
  transform: translateX(180px);
}
li > a {
  text-decoration: none;
}
li > a,
.user-view {
  color: #062F63;
}
ul {
  list-style-type: none;
}
.input-field,
button,
.flip {
  margin-top: 25px;
}
button {
  font-weight: bold;
  padding: 8px 12px;
  font-size: 16px;
  text-transform: uppercase;
  border: 2px solid #fdc561;
  color: #fff;
  background-color: #fdc561;
}
button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #fdc561;
}
.card {
  width: 100%;
  height: 50vh;
  position: absolute;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.card.flipped,
.card .back {
  transform: rotateY(180deg);
}
.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: 0.5s;
}
.card.back {
  display: block;
}
.navitem{
  margin-top: 10px;
}
.flip:hover, .navitem>a:hover, .story-item:hover{
  color: #fdc561;
  cursor: pointer;
}
.content{
  text-align: left;
}